## ============================================================================
##             **** Murasame Application Development Framework ****
##                Copyright (C) 2019-2021, Suisei Entertainment
## ============================================================================
##
##  Licensed under the Apache License, Version 2.0 (the "License");
##  you may not use this file except in compliance with the License.
##  You may obtain a copy of the License at
##
##      http://www.apache.org/licenses/LICENSE-2.0
##
##  Unless required by applicable law or agreed to in writing, software
##  distributed under the License is distributed on an "AS IS" BASIS,
##  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##  See the License for the specific language governing permissions and
##  limitations under the License.
##
## ============================================================================

# Documentation
sphinx>=2.3.1
sphinx-pdj-theme

# Tools
pyinstaller>=3.4
pydeps>=1.9.13
pygithub>=1.55
twine>=3.4.2

# Testing
pytest>=6.2.4
pytest-cov>=2.7.1
pytest-html>=2.1.1
pytest-reraise>=1.0.3
pytest-xprocess>=0.18.1
pytest-xdist>=2.3.0
codecov>=2.0.15
coverage>=4.5.2
pylint>=2.6.1
pylint-exit>=1.2.0
semgrep>=0.39.1

# Utilities
py>=1.10
coloredlogs>=15.0
